{%extends 'base.html'%}

{% block title %}
    <title>Taskmaster - About Us</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <h1>About us:</h1>
        <p>Are you looking for free task management software? We know how it feels different using a tool like this, instead of old-fashioned ways such as writing what you need to do on a paper. And we also know that with so many options in the market, it becomes a hard task to choose the best one.But don’t worry, you on the right place.</p>
        <p>Taskmaster is tool that can help you to plan, manage and track all your tasks in one place.</p>
        <p>Taskmaster has been an incredible game changer for our much business efficiency.</p>
    </div>
{%  endblock content %}