{%extends 'base.html'%}

{% block title %}
    <title>Taskmaster - Home</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-4 mb-2">
                <img class="rounded-lg shadow cards" src="https://res.cloudinary.com/ddjtquzpc/image/upload/v1669921350/Task%20Master/idea_cpgdw0.jpg" alt="Idea">
            </div>
            <div class="col-lg-4 mb-2">
                <img class="rounded-lg shadow cards" src="https://res.cloudinary.com/ddjtquzpc/image/upload/v1669921351/Task%20Master/todo_hnmlps.jpg" alt="Todo">
            </div>
            <div class="col-lg-4 mb-2">
                <img class="rounded-lg shadow cards" src="https://res.cloudinary.com/ddjtquzpc/image/upload/v1669921351/Task%20Master/done_i94czc.jpg" alt="done">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 offset-md-1">
                <center><p class="h1 text-primary">Quick And Easy To Use, Anytime Anywhere!</p></center>
                <center><p class="h2 mt-3">"Build The Perfect Productivity System With Taskmaster"</p></center>
                <center><p class="h5">Now You'll Never Miss An Idea Or Forget What You Need To Do Next.</p></center>

                <center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-3 shadow">Let's Get Started</button></a></center>
            </div>
        </div>
    </div>
{%  endblock content %}