{%extends 'base.html'%}

{% block title %}
    <title>Taskmaster - Home</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-4">
                <img src="https://res.cloudinary.com/ddjtquzpc/image/upload/v1669921350/Task%20Master/idea_cpgdw0.jpg" alt="Idea" width="360" height="250">
            </div>
            <div class="col-lg-4">
                <img src="https://res.cloudinary.com/ddjtquzpc/image/upload/v1669921351/Task%20Master/todo_hnmlps.jpg" alt="Todo" width="360" height="250">
            </div>
            <div class="col-lg-4">
                <img src="https://res.cloudinary.com/ddjtquzpc/image/upload/v1669921351/Task%20Master/done_i94czc.jpg" alt="done" width="360" height="250">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <p>Build the Perfect Productivity System with todolist!</p>
                <p>"Now you'll never miss an idea or forget what you need to do next"</p>
                <p>Taskmaster let you track your own workload in one place.</p>
            </div>
        </div>
    </div>
{%  endblock content %}