body {
    min-height: 100vh;
}
.cards {
    width: 100%;
    height: 100%;

}

.task-form {
    margin: 0;
}

td {
    line-break: auto;
}

.sticky-footer {
    position: sticky;
    top: 100%;
}

@media only screen and (max-width: 421px) {
    body {
        width: 421px;
    }
}